## 1. Reverse a string

In [10]:
def reverse_string(input_string):
    #reversed_string = ""
    
    for char in input_string:
        
        reversed_string = char + reversed_string
        
        
    return reversed_string

In [11]:
reverse_string("irfan khan")

'nahk nafri'

In [9]:
input_str="eman irfan"
reversed_str = reverse_string(input_str)
print(reversed_str)

nafri name

## 2. Palindrome

In [2]:
def is_palindrome(s):
    s=s.lower()
    
    s="".join(e for e in s if e.isalnum())
    
    return s == s[::-1]

print(is_palindrome("racecar"))
print(is_palindrome("hello"))
print(is_palindrome("A man,a plan,a canal,Panama"))

True
False
True

## 3.Convert a string to uppercase

In [4]:
input_string=input("enter a string")

uppercase_string = input_string.upper()

print("Upper string : ",uppercase_string)

enter a stringirfan haider
Upper string :  IRFAN HAIDER

## 4.Convert a string to lowercase

In [6]:
input_string=input("enter a string")

lowercase_string = input_string.lower()

print("lower string : ",lowercase_string)

enter a stringIRFAN HAIDER
lower string :  irfan haider

## 5.Count the number of vowels in a string

In [11]:
def count_vowels(string):
    vowel_count=0
    
    string =string.lower()
    
    vowels =set("aeiou")
    
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count

In [13]:
input_string=input("enter a string")
result = count_vowels(input_string)
print("Number of vowels : ",result)

enter a stringhello my name is irfan
Number of vowels :  7

## 6.Count the number of consonants in a string

In [15]:
def count_consonants(string):
    consonant_count = 0
    
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    
    for char in string:
        if char in consonants:
            consonant_count += 1
            
    return consonant_count

input_string=input("enter a string")

result=count_consonants(input_string)
print("Number of consonants : ",result)

enter a stringDSM Pro
Number of consonants :  5

## 7.Remove all the white spaces from the string

In [19]:
def remove_whitespace(input_string):
    result=""
    for char in input_string:
        if char != " ":
            result += char
            
    return result

input_string = "Hello  World!  How's  it  going ?"
output_string =remove_whitespace(input_string)

print(output_string)

HelloWorld!How'sitgoing?

## 8.Find the length of a string without using the len() function.

In [24]:
input_string=input("enter a string:")
count=0

for char in input_string:
    count +=1
    
print("The length of the  string is : ",count)

enter a string:hello i am irfan haider
The length of the  string is :  23

## 9.Check if a string contains a spacific word.

In [26]:
input_string = input("enter a string")
specific_word = input("enter the specific word to check for : ")

if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
    
else:
    print(f"The string does not contain the word '{specific_word}'.")

enter a stringmy name is irfan haider khan
enter the specific word to check for : khan
The string contains the word 'khan'.

## 10.Replace a word in a string with another word.

In [27]:
input_string=input("enter a sentence: ")

old_word = input("enter the word to be replaced : ")
new_word = input("enter the new word : ")

modified_string = input_string.replace(old_word,new_word)

print("Modified string : ", modified_string)

enter a sentence: Hello World
enter the word to be replaced : world
enter the new word : students
Modified string :  Hello World

## 11.Count the occurrences of a word in a string.

In [29]:
def count_word_occurrences (input_string,target_word):
    word_count = 0
    
    words = input_string.split()
    
    for word in words:
        if word == target_word:
            word_count += 1
            
    return word_count

input_string = "This is a sample sentence.This sentence contains the word 'sample' multiple times."

target_word = "sample"

result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input_string.")

The word 'sample' appears 1 times in the input_string.

## 12.Find the first occurence of a word in a string.

In [30]:
def find_first_occurrence(text,word):
    index = text.find(word)
    
    if index == -1:
        return None
    
    return index

text="This is an example sentence. This sentence contains the word example"

word="example"
result = find_first_occurrence(text,word)
print("Index of the first occurrence : ",result)

Index of the first occurrence :  11

## 13.Find the last occurrence of a word in a string.

In [33]:
def find_last_occurrence(text,word):
    index = text.rfind(word)
    
    if index == -1:
        return None
    
    return index

text = "This is an example sentence. This sentence alse contains the word example."
word = "example"
result= find_last_occurrence(text,word)
print("Index of the last occurrence : ", result)

Index of the last occurrence :  66

## 14.Split a string into a list of words.

In [34]:
def split_string_into_words(text):
    words_list = text.split()
    
    return words_list

text="This is an example sentence."
words=split_string_into_words(text)
print("List of words : ",words)

List of words :  ['This', 'is', 'an', 'example', 'sentence.']

## 15.Join a list of words into a string

In [35]:
def join_words_into_string(words_list):
    joined_string = ' '.join(words_list)
    
    return joined_string

words=["This","is","an","example","sentence."]
text = join_words_into_string(words)
print("Joined string : " , text)

Joined string :  This is an example sentence.

## 16.Convert string where words are separated by spaces to one where words are separated by underscores.

In [36]:
def convert_to_underscore_separated(text):
    underscore_separated = text.replace(" ","_")
    
    return underscore_separated

text="This is an example of sentence."
converted_text = convert_to_underscore_separated(text)
print("Converted text : ", converted_text)

Converted text :  This_is_an_example_of_sentence.

## 17.Check if a string starts with a specific word or phrase.

In [2]:
def starts_with(text,prefix):
    is_start = text.startswith(prefix)
    
    return is_start

text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)

if result :
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text does not start with the prefix.

## 18.Check if a string ends with a specific word or phrase.

In [4]:
def ends_with(text,suffix):
    is_end = text.endswith(suffix)
    
    return is_end

text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with he suffix.")

The text ends with the suffix.

## 19.Convert a string to title case (e.g, "hello world" to "Hello World").

In [7]:
def convert_to_title_case(text):
    title_case_text = text.title()
    
    return title_case_text

text = "hello world"
title_case_result = convert_to_title_case(text)
print(text)
print("Title case: ", title_case_result)

hello world
Title case:  Hello World

## 20.Find the longest word in the string

In [11]:
def find_longest_word(text):
    words = text.split()
    
    longest_word = ""
    max_length = 0
    
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
            
    return longest_word
    
text = "This is an example sentence with some words."
longest_word = find_longest_word(text)
print("Longest word : ", longest_word)

Longest word :  sentence

## 21.Find the shortest word in the string

In [14]:
def find_shortest_word(text):
    words = text.split()
    
    shortest_word = None
    min_length = float("inf")
    
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
            
    return shortest_word

text="This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word is :", shortest_word)

Shortest word is : is

## 22.Reverse the order of words in a string.

In [15]:
def find_shortest_word(text):
    words = text.split()
    
    shortest_word = None
    min_length = float("inf")
    
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
            
    return shortest_word

text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word : ", shortest_word)

Shortest word :  is

## 23.Check a string is alphanumeric.

In [21]:
def is_alphanumeric(text):
    return text.isalnum()
text="Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

## 24.Extract all digits from a string.

In [22]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits

text= "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits : " , extracted_digits)

Extracted digits :  123456

## 25.Extract all alphabets from a string.

In [23]:
def extract_alphabets(input_string):
    alphabets = " ".join([char for char in input_string if char.isalpha()])
    return alphabets

input_string = "Hello123World456"
result =  extract_alphabets(input_string)
print(result)

H e l l o W o r l d

## 26.Count the number of uppercase letters in a string.

In [26]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

## 27.Count the number of lowercase letters in a string.

In [27]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char .islower())
    return lowercase_count

input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

## 28.Swap the case of each character in a string.

In [28]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

## 29.Remove a spacific word from a string.

In [31]:
def remove_word(input_string,word_to_remove):
    words = input_string.split()
    filtered_words = [word for word in words if word != word_to_remove]
    modified_string = " ".join(filtered_words)
    return modified_string

input_string = "Hello world,welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world,welcome to the of programming.

## 30.Check if a string is a valid email adddress.

In [33]:
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
    
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

## 31.Extract the username from an email address string.

In [34]:
def extract_username(email):
    username = email.split("@")[0]
    return username

email = "example@email.com"
result = extract_username(email)
print(result)

example

## 32.Extract the domain name from an email address string.

In [35]:
def extract_domain(email):
    domain = email.split("@")[1]
    return domain

email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

## 33.Replace multiple spaces in a string with a single space.

In [39]:
def replace_multiple_spaces(input_string):
    cleaned_string = " ".join(input_string.split())
    return cleaned_string

input_string = "Hello    world!   How  are  you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

## 34.Check if a string is a valid URL

In [40]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
    
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

## 35.Extract the protocol(http or https) from a URL string.

In [43]:
def extract_protocol(url):
    protocol_end = url.find("://")
    
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
    
url1 = "https://www.example.com"
url2 = "https://www.google.com"
url3 = "ftp://www.ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1 : ",protocol1)
print("Protocol 2 : ",protocol2)
print("Protocol 3 : ",protocol3)

Protocol 1 :  https
Protocol 2 :  https
Protocol 3 :  ftp

## 36. Find the frequency fo each character in a string.

In [44]:
def character_frequency(input_string):
    frequency = {}
    
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
            
    return frequency

input_str = "hello world"

char_freq = character_frequency(input_str)

for char,freq in char_freq.items():
    print(f"Character:'{char}',Frequency: {freq}")

Character:'h',Frequency: 1
Character:'e',Frequency: 1
Character:'l',Frequency: 3
Character:'o',Frequency: 2
Character:' ',Frequency: 1
Character:'w',Frequency: 1
Character:'r',Frequency: 1
Character:'d',Frequency: 1

## 37. Remove all punctuation from a string.

In [49]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans(" "," ",string.punctuation)
    
    clean_string = input_string.translate(translator)
    
    return clean_string

input_str  = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)

print("Orignal string : ", input_str)

print("Cleaned string : ",cleaned_str)

Orignal string :  Hello, world! How's it going?
Cleaned string :  Hello world Hows it going

## 38.Check if a string contains only digits.

In [50]:
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits : ", result1)
print(f"'{string2}' contains only digits : ", result2)
print(f"'{string3}' contains only digits : ", result3)

'12345' contains only digits :  True
'Hello123' contains only digits :  False
'456.789' contains only digits :  False

## 39.Check if a string contains only alphabets.

In [54]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 = "Hello"
string2 = "Hello123"
string3 = "456.789"

result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

print(f"'{string1}' contains only alphabets : ", result1)
print(f"'{string2}' contains only alphabets : ", result2)
print(f"'{string3}' contains only alphabets : ", result3)

'Hello' contains only alphabets :  True
'Hello123' contains only alphabets :  False
'456.789' contains only alphabets :  False

## 40.Convert a string to a list of characters.

In [55]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list

input_str = "Hello , world!"

char_list = string_to_list(input_str)

print("Original string : ", input_str)
print("List of charcters : ", char_list)

Original string :  Hello , world!
List of charcters :  ['H', 'e', 'l', 'l', 'o', ' ', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

## 41.Check if two strings are anagrams.

In [7]:
def are_anagrams(str1,str2):
    str1 = str1.replace(" "," ").lower()
    str2 = str2.replace(" "," ").lower()
    
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1,string2)
result2 = are_anagrams(string3,string4)

print(f"'{string1}'and'{string2}' are anagrams : "  ,result1)
print(f"'{string3}'and '{string4}' are anagrams : " ,result2)

'listen'and'silent' are anagrams :  True
'hello'and 'world' are anagrams :  False

## 42.Encoding a string using a Caesar cipher.

In [36]:
def caesar_cipher(text, shift):
    """
    Encode a string using a Caesar cipher.

    Args:
    text: The String to encode.
    shift: The number of positions to shift each letter.

    Returns:
    The encoded string.
    """

    encoded_text = ""

    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char

        encoded_text += encoded_char

    return encoded_text

# Define the text and shift before calling the function
text = "Hello World!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("Encoded text : ", encoded_text)

Encoded text :  ehoor truog!

## 43.Decode a caesar_cipher encoded string.

In [38]:

def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    
    decoded_text = ""

    
    for char in text:
        
        if char.isalpha():
            
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            
            decoded_char = char

        
        decoded_text += decoded_char

    
    return decoded_text


text = "lopp, zruog!"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)


print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

## 44.Find the most frequent word in a string.

In [45]:
import re
from collections import Counter

def most_frequent_word(input_string):
    
    clean_string = re.sub(r'[^\w\s]','', input_string).lower()
    
    words =  clean_string.split()
    
    word_counter = Counter(words)
    
    most_common_word = word_counter.most_common(1)[0][0]
    
    return most_common_word


input_str = "Hello world, hello there! How's the world?"


most_common = most_frequent_word(input_str)


print("Most frequent word:", most_common)

Most frequent word: hello

## 45.Find all unique words in a string.

In [2]:
import re

def unique_words(input_string):

    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()


    words = set(clean_string.split())

    return words


input_str = "Hello world, hello there! How's the world?"


unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'there', 'world', 'the', 'hows', 'hello'}

## 46.Count the number of syllabus in a string.

In [5]:
import re

def count_syllables(word):

    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)


word1 = "hello"
word2 = "banana"
word3 = "syllable"


syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)


print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

## 47.Check if a string contains any special characters.

In [9]:
import re

def contains_special_characters(input_string):
    
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    
    match = pattern.search(input_string)
    
    return  bool(match)

string1 = "Hello, world!"
string2 = "This is a test."
string3 = "special@Characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}'  contains special characters: " , result1)
print(f"'{string2}'  contains special characters: " , result2)
print(f"'{string3}'  contains special characters: " , result3)

'Hello, world!'  contains special characters:  True
'This is a test.'  contains special characters:  True
'special@Characters'  contains special characters:  True

## 48.Remove the nth word from a string.

In [11]:
def remove_nth_word(input_string,n):
    
    words = input_string.split()
    
    if n >= 1 and n <= len(words):
        
        removed_word = words.pop(n-1)
        
        modified_string = " ".join(words)
        
        return modified_string,removed_word
    else:
        return None, None
    
input_str = "This is an example sentence to test the function."
n_value = 4

modified_str, removed_word = remove_nth_word(input_str,n_value)

print("Orignal string: ",input_str)

if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word: ", removed_word)

else:
    print("Invalid n value")

Orignal string:  This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word:  example

## 49.Insert a word at the nth position in a string.

In [138]:
my_list = ["apple", "banana", "cherry", "date"]

# Word to insert
word_to_insert = "grape"

# Position to insert (1-based index, 1 means the beginning of the list)
n = 2

# Insert the word at the nth position
my_list.insert(n - 1, word_to_insert)

# Print the updated list
print(my_list)

['apple', 'grape', 'banana', 'cherry', 'date']

## 50.Convert a CSV string to list of lists.

In [12]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    
    result = []
    
    for line in lines:
        fields = line.split(",")
        
        result.append(fields)
        
    return result

csv_data = "Name,Age, Country\nJhon,25, USA\nAlice , 30, Canada\nBob,22, UK"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', 'Age', ' Country']
['Jhon', '25', ' USA']
['Alice ', ' 30', ' Canada']
['Bob', '22', ' UK']

## List Based Practice Problums:

## 1. Create a list with integers from 1 to 10.

In [14]:
integer_list = [i for i in range(1,11)]

print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2.Find the length of the list without using len() function.

In [15]:
def custom_len(input_list):
    count = 0
    
    for _ in input_list:
        count += 1
        
    return count

my_list = [10, 20, 30, 40, 50]

length = custom_len(my_list)

print("Length of the list : ", length)

Length of the list :  5

## 3. Append an element to the end of a list.

In [16]:
my_list = [10, 20, 30]

new_element = 40

my_list.append(new_element)

print("Updated list: " , my_list)

Updated list:  [10, 20, 30, 40]

## 4.Insert an element at a specific index in a list.

In [17]:
my_list = [10, 20, 30, 40, 50]

new_element = 25

index_to_insert = 2

my_list.insert(index_to_insert, new_element)

print("Updated list : ", my_list)

Updated list :  [10, 20, 25, 30, 40, 50]

## 5.Remove an element from a list by its value.

In [18]:
my_list = [10, 20, 30, 40, 50]

element_to_remove = 30

my_list.remove(element_to_remove)

print("Updated list : ", my_list)

Updated list :  [10, 20, 40, 50]

## 6.Remove an element from a list by its index.

In [19]:
my_list = [10, 20, 30, 40, 50]

index_to_remove = 2

removed_element = my_list.pop(index_to_remove)

print("Updated list : ", my_list)
print("Removed element : ", removed_element)

Updated list :  [10, 20, 40, 50]
Removed element :  30

## 7. Check if an element exists in a list.

In [20]:
my_list = [10, 20, 30, 40, 50]

element_to_check = 30

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list")

30 exists in the list.

## 8.Find the index of the first occurrence of an element in a list.

In [21]:
my_list = [10, 20, 30, 40, 50, 30]

element_to_find = 30

index = my_list.index(element_to_find)

print(f"The index of  {element_to_find} is {index}")

The index of  30 is 2

## 9.Count the occurrences of an element in a list.

In [22]:
my_list = [10, 20, 30, 40,50, 30,30]

element_to_count = 30

count = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

## 10.Reverse the order of elements in a list.

In [24]:
my_list = [10,20,30,40,50]

my_list.reverse()

print("Reversed list : " , my_list)

Reversed list :  [50, 40, 30, 20, 10]

## 11.Sort a list in ascending order.

In [1]:
my_list=[10,40,50,30,20]

my_list.sort()
print("Sorted list in ascending order : ", my_list)

Sorted list in ascending order :  [10, 20, 30, 40, 50]

## 12.Sort a list in descending order.

In [2]:
my_list= [50,10,30,20,40]

my_list.sort(reverse=True)

print("Sorted list in descending order : " , my_list)

Sorted list in descending order :  [50, 40, 30, 20, 10]

## 13.Create a list of even numbers from 1 to 20.

In [3]:
even_numbers = [x for x in range(2,21,2)]

print("List of even numbers : ", even_numbers)

List of even numbers :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 14.Create a list of odd numbers from 1 to 20.

In [8]:
odd_numbers = [x for x in range(1,21,2)]

print("List of odd numbers : " , odd_numbers)

List of odd numbers :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 15.Find the sum of all elements in a list.

In [9]:
my_list = [10,20,30,40,50]

total_sum = sum(my_list)

print("Sum of elements : ", total_sum)

Sum of elements :  150

## 16.Find the maximum value in a list.

In [10]:
my_list = [10,20,30,40,50]

max_value = max(my_list)

print("Maximum value : ", max_value)

Maximum value :  50

## 17.Find the minimum value in a list.

In [11]:
my_list = [10,20,30,40,50]

min_value = min(my_list)

print("Minimum value : ", min_value)

Minimum value :  10

## 18.Create a list of squares of numbers from 1 to 10.

In [12]:
squares = [x ** 2 for x in range(1,11)]

print("List of squares : " , squares)

List of squares :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 19.Create a list of random numbers.

In [15]:
import random
random_integers = [random.randint(1,100) for _ in range(10)]

print("List of random integers : " , random_integers)

List of random integers :  [6, 94, 82, 24, 7, 35, 56, 52, 9, 1]

## 20.Remove duplicates from a list.

In [16]:
my_list = [10,20,30,10,40,20,50,30,]

unique_list = list(set(my_list))

print("List without duplicates : " , unique_list)

List without duplicates :  [40, 10, 50, 20, 30]

## 21.Find the common elements between two lists.

In [17]:
list1 = [10,20,30,40,50]
list2 = [30,40,50,60,70]

common_elements = [element for element in list1 if element in list2]

print("Common elements: ",common_elements)

Common elements:  [30, 40, 50]

## 22.Find the difference between two lists.

In [18]:
list1 = [10,20,30,40,50]
list2 = [30,40,50,60,70]

difference = list(set(list1).difference(list2))

print("Difference between lists : " , difference)

Difference between lists :  [20, 10]

## 23.Merge two lists.

In [19]:
list1 = [10,20,30]
list2 = [40,50,60]

merged_list = list1 + list2

print("Merged list : ", merged_list)

Merged list :  [10, 20, 30, 40, 50, 60]

## 24.Multiply all elements in a list by 2.

In [20]:
my_list = [10,20,30,40,50]

multiply_list = [x * 2 for x in my_list]

print("Multiply list : ", multiply_list)

Multiply list :  [20, 40, 60, 80, 100]

## 25.Filter out all even numbers from a list.

In [22]:
my_list = [10,20,15,25,30,40,35,45]

filtered_list = [x for x in my_list if x % 2 !=0]

print("Filtered list (odd numbers):",filtered_list)

Filtered list (odd numbers): [15, 25, 35, 45]

## 26.Convert a list of strings to a list of integers.

In [23]:
string_list = ["10","20","30","40","50"]

integer_list = [int(x) for x in string_list]

print("List of integers : " , integer_list)

List of integers :  [10, 20, 30, 40, 50]

## 27.Convert a list of integers to a list of strings.

In [25]:
integer_list = [10,20,30,40,50]

string_list = [str(x) for x in integer_list]

print("List of strings : " , string_list)

List of strings :  ['10', '20', '30', '40', '50']

## 28.Flatten a nested list.

In [26]:
nested_list = [[1,2,3],[4,5],[6,7,8,9]]

def flatten_list(nested):
    flattened = []
    
    for sublist in nested:
        if isinstance(sublist,list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list :" , flattened_list)

Flattened list : [1, 2, 3, 4, 5, 6, 7, 8, 9]

## 29.Create a list of first 10 fibonacci numbers.

In [27]:
def generate_fibonacci(n):
    fibonacci_list = [0,1] 
    
    for i in range(2,n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)
        
    return fibonacci_list

fibonacci_numbers = generate_fibonacci(10)

print("First 10 Fibonacci numbers: ",fibonacci_numbers)

First 10 Fibonacci numbers:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 30.Check if a list is sorted.

In [31]:
def is_sorted_ascending(lst):
    for i in range(1,len(lst)):
        if lst[i] < lst[i - 1]:
            return False
        
    return True

ascending_list = [10,20,30,40,50]

if is_sorted_ascending(ascending_list):
    
    print("The list is sorted in ascending order.")
    
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

## 31.Rotate a list to the left by n positions.

In [1]:
def rotate_left(lst, n):
    n = n % len(lst)
    
    rotated = lst[n:] + lst[:n]
    
    return rotated

my_list = [1,2,3,4,5,6]

n = 2

rotated_list = rotate_left(my_list , n)

print("Rotated list : ",rotated_list)

Rotated list :  [3, 4, 5, 6, 1, 2]

## 32.Rotate a list to the right by n positions.

In [3]:
def rotate_right(lst, n):
    n = n % len(lst)
    
    rotated = lst[-n:] + lst[:-n]
    
    return rotated

my_list = [1,2,3,4,5,6]

n = 2

rotated_list = rotate_right(my_list , n)

print("Rotated list : ",rotated_list)

Rotated list :  [5, 6, 1, 2, 3, 4]

## 33.Create a list of prime numbers upto 50.

In [8]:
def is_prime(num):
    if num <= 1 :
        return False
    if num <= 3 :
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        
        i += 6
        
    return True
    
prime_numbers = [num for num in range(2,51) if is_prime(num)]

print("List of prime  numbers up to 50 : " , prime_numbers)

List of prime  numbers up to 50 :  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 34. Split a list into chunks of size n.

In [13]:
def sieve_of_eratosthenes(limit):
    primes = []
    
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    
    for num in range(2,int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            
            for multiple in range (num * num,limit + 1,num):
                is_prime[multiple] = False
                
    for num in range(int(limit ** 0.5)+ 1,limit + 1):
        if is_prime[num]:
            primes.append(num)
            
    return primes

prime_numbers = sieve_of_eratosthenes(50)

print("List of prime numbers up to 50 : " , prime_numbers)

List of prime numbers up to 50 :  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 35.Find the second largest number in a list.

In [14]:
my_list = [10,5,20,15,30,25]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    
    print("Second largest number: " , second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number:  25

## 36. Replace every element with its square.

In [15]:
my_list = [2,4,6,8,10]

squared_list = [x ** 2 for x in my_list]

print("Squared list : ", squared_list)

Squared list :  [4, 16, 36, 64, 100]

## 37.Convert a list to a dictionary where list elements become keys and their indices  become values.

In [16]:
my_list = ["apple" , "banana" , "cherry" , "date" , "elderberry" ]

my_dict = {element: index for index, element in enumerate(my_list)}

print("Converted dictionary : ", my_dict)

Converted dictionary :  {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

## 38.Shuffle the elements of a list randomly.

In [18]:
import random

my_list = [1,2,3,4,5,6,7,8,9,10]

random.shuffle(my_list)

print("Suffled list : ", my_list)

Suffled list :  [2, 9, 1, 6, 7, 8, 3, 10, 4, 5]

## 39 .Create a list of first 10 factorial numbers.

In [21]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    
    else:
        return n * factorial(n-1)
    
factorial_numbers = [factorial (i) for i in range(10)]

print("List of the first 10 factorial numbers : " , factorial_numbers)

List of the first 10 factorial numbers :  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

## 40.Check two lists have at least one element in common.

In [22]:
def has_common_element(list1 , list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]

if has_common_element(list1,list2):
    print("The lists have at least one common element. ")
    
else:
    print("The list do not have any common element.")

The lists have at least one common element.

## 41.Remove all elements from a list.

In [23]:
my_list = [1,2,3,4,5,6]

my_list.clear()

print("Empty list :" , my_list)

Empty list : []

## 42.Replace a negative numbers in a list with 0.

In [24]:
my_list = [10,-5,20,-15,30,-25]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
        
print("List after replacing negative numbers with zero : ",my_list)

List after replacing negative numbers with zero :  [10, 0, 20, 0, 30, 0]

## 43.Convert a string into a list of words.

In [25]:
my_string = "Hello , this is a sample sentence."

word_list = my_string.split()

print("List of words :", word_list)

List of words : ['Hello', ',', 'this', 'is', 'a', 'sample', 'sentence.']

## 44.Convert a list of words into a string.

In [26]:
word_list = ['Hello', ',', 'this', 'is', 'a', 'sample', 'sentence.']

my_string = " ".join(word_list)

print("Converted string : ",my_string)

Converted string :  Hello , this is a sample sentence.

## 45.Create a list of the first n powers of 2.

In [27]:
n = 5

power_list = [2 ** i for i in range(n)]

print("List of the first : ",n, "powers of 2 :" ,power_list)

List of the first :  5 powers of 2 : [1, 2, 4, 8, 16]

## 46.Find the longest string in a list of strings.

In [28]:
string_list = ["apple","banana","cherry","date","elderberry"]

longest_string = ""

for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

print("Longest string : ",longest_string)

Longest string :  elderberry

## 47.Find the shortest string  in the list.

In [29]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = string_list[0]

for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
        
print("Shortest string: " , shortest_string)

Shortest string:  date

## 48.Create a list  of the first n triangular numbers.

In [31]:

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5


triangular_list = triangular_numbers(n)


print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

## 49.Check if a list contains another list as

In [2]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False


main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]


if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

## 50.Swap two elements in a list by their  indices.

In [4]:
my_list = [1, 2, 3, 4, 5]


index1 = 1
index2 = 3


temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

## TUPLE BASED PRACTICE PROBLUME

## 1.Create a tuple with integers from 1 to 5.

In [7]:
my_tuple = (10, 20, 30, 40, 50)

third_element = my_tuple[2]


print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

## 2.Access the third item of tuple.

In [9]:
my_tuple = (10, 20, 30, 40, 50)


third_element = my_tuple[2]


print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

## 3.Find the length of a tuple without using len() function.

In [11]:
my_tuple = (10, 20, 30, 40, 50)

count = 0

for _ in my_tuple:
    count += 1

print("The length of the tuple is:", count)

The length of the tuple is: 5

## 4. Count the occurrences of an element in a tuple.

In [12]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)

element_to_count = 20

count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

## 5. Find the index of the first occurrence of an element in a tuple.

In [13]:
my_tuple = (10, 20, 30, 20, 40, 50)

element_to_find = 20

index = -1  

for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

## 6. Check if an element exists in a tuple.

In [14]:
my_tuple = (10, 20, 30, 40, 50)

element_to_check = 30

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

## 7. Convert a tuple to a list.

In [15]:
my_tuple = (10, 20, 30, 40, 50)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

## 8. Convert a list to a tuple.

In [16]:
my_list = [10, 20, 30, 40, 50]

my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

## 9. Unpack the elements of a tuple into variables.

In [17]:
my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

## 10. Create a tuple of even numbers from 1 to 10.

In [19]:
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

## 11. Create a tuple of odd numbers from 1 to 10.

In [20]:
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

## 12. Concatenate two tuples.

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

## 13. Repeat a tuple three times.

In [22]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

## 14. Check if a tuple is empty.

In [24]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

## 15. Create a nested tuple.

In [26]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

## 16. Access the first element of a nested tuple.

In [27]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

## 17. Create a tuple with a single element.

In [28]:
single_element_tuple = (42,)  # Note the trailing comma

print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

## 18. Compare two tuples.

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

## 19. Delete a tuple.

In [33]:
my_tuple = (1, 2, 3, 4, 5)

del my_tuple

print(my_tuple)

## 20. Slice a tuple.

In [34]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

## 21. Find the maximum value in a tuple.

In [35]:
my_tuple = (10, 20, 5, 45, 30)

max_value = max(my_tuple)

print("Maximum value:", max_value)

Maximum value: 45

## 22. Find the minimum value in a tuple.

In [36]:
my_tuple = (10, 20, 5, 45, 30)

min_value = min(my_tuple)

print("Minimum value:", min_value)

Minimum value: 5

## 23. Convert a string to a tuple of characters.

In [37]:
my_string = "Hello, World!"

tuple_of_characters = tuple(my_string)

print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

## 24. Convert a tuple of characters to a string.

In [38]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

## 25. Create a tuple from multiple data types.

In [39]:
mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

## 26. Check if two tuples are identical.

In [41]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

## 27. Sort the elements of a tuple.

In [42]:
my_tuple = (5, 2, 8, 1, 3)

sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

## 28. Convert a tuple of integers to a tuple of strings.

In [44]:
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

## 29. Convert a tuple of strings to a tuple of integers.

In [46]:
tuple_of_strings = ('10', '20', '30', '40', '50')

tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

## 30. Merge two tuples.

In [47]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

## 31. Flatten a nested tuple.

In [49]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

## 32. Create a tuple of the first 5 prime numbers.

In [51]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

## 33. Check if a tuple is a palindrome.

In [53]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

## 34. Create a tuple of squares of numbers from 1 to 5.

In [55]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))


print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

## 35. Filter out all even numbers from a tuple.

In [57]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

## 36. Multiply all elements in a tuple by 2.

In [59]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(num * 2 for num in original_tuple)

print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

## 37. Create a tuple of random numbers.

In [60]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

print("Random tuple:", random_tuple)

Random tuple: (2, 89, 29, 71, 51, 91, 21, 67, 75, 61)

## 38. Check if a tuple is sorted.

In [62]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

## 39. Rotate a tuple to the left by `n` positions.

In [64]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple


my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

## 40. Rotate a tuple to the right by `n` positions.

In [66]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

## 41. Create a tuple of the first 5 Fibonacci numbers.

In [67]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

## 42. Create a tuple from user input.

In [68]:
input_str = input("Enter elements separated by commas: ")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements separated by commas: 2
User input tuple: ('2',)

## 43. Swap two elements in a tuple.

In [69]:
my_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

## 44. Reverse the elements of a tuple.

In [70]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

## 45. Create a tuple of the first `n` powers of 2.

In [72]:
n = 5

powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

## 46. Find the longest string in a tuple of strings.

In [73]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: watermelon

## 47. Find the shortest string in a tuple of strings.

In [75]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

shortest_string = min(string_tuple, key=len)


print("Shortest string:", shortest_string)

Shortest string: kiwi

## 48. Create a tuple of the first `n` triangular numbers.

In [76]:
n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

## 49. Check if a tuple contains another tuple as a subsequence.

In [77]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

## 50. Create a tuple of alternating 1s and 0s of length`n` .

In [79]:
n = 10


alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# SET BASED PROBLUMES

## 1. Create a set with integers from 1 to 5

In [80]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

## 2. Add an element to a set.

In [81]:
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

element_to_add = 6
my_set.add(element_to_add)

print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

## 3. Remove an element from a set.

In [82]:
my_set = {1, 2, 3, 4, 5}

print("Original Set:", my_set)

element_to_remove = 3


my_set.remove(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

## 4. Check if an element exists in a set.

In [83]:
my_set = {1, 3, 5, 7, 9}

element_to_check = int(input("Enter the element to check: "))

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check: 5
5 exists in the set.

## 5. Find the length of a set without using the `len()` function

In [84]:
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

## 6. Clear all elements from a set.

In [86]:
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

my_set.clear()

print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

## 7. Create a set of even numbers from 1 to 10

In [87]:
even_numbers_set = set()


for num in range(1, 11):

    if num % 2 == 0:
        even_numbers_set.add(num)

print(even_numbers_set)

{2, 4, 6, 8, 10}

## 8. Create a set of odd numbers from 1 to 10

In [88]:
odd_numbers_set = set()


for num in range(1, 11):

    if num % 2 != 0:
        odd_numbers_set.add(num)

print(odd_numbers_set)

{1, 3, 5, 7, 9}

## 9. Find the union of two sets

In [90]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

## 10. Find the intersection of two sets.

In [91]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

## 11. Find the difference between two sets.

In [93]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}


difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

## 12. Check if a set is a subset of another set.

In [95]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

## 13. Check if a set is a superset of another set.

In [96]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}


is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

## 14. Create a set from a list

In [97]:
my_list = [2, 4, 1, 4, 3, 2, 5]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

## 15. Convert a set to a list.

In [98]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}


my_list = list(my_set)


print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

## 16. Remove a random element from a set.

In [99]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 1 : {2, 3, 4, 5}

## 17. Pop an element from a set.

In [100]:
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

## 18. Check if two sets have no elements in common.

In [101]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

## 19. Find the symmetric difference between two sets.

In [102]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

## 20. Update a set with elements from another set.

In [103]:
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

## 21. Create a set of the first 5 prime numbers.

In [104]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

## 22. Check if two sets are identical.

In [105]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

## 23. Create a frozen set

In [106]:
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

## 24. Check if a set is disjoint with another set.

In [107]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

## 25. Create a set of squares of numbers from 1 to 5.

In [108]:
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)
    
print(squares_set)

{1, 4, 9, 16, 25}

## 26. Filter out all even numbers from a set.

In [109]:
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

## 27. Multiply all elements in a set by 2.

In [110]:
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

## 28. Create a set of random numbers.

In [111]:
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {48, 81, 34, 76}

## 29. Check if a set is empty.

In [112]:
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

## 30. Create a nested set (hint: use frozenset).

In [114]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

## 31.  Remove an element from a set using the discard method.

In [116]:
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

## 32. Compare two sets.

In [117]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

## 33. Create a set from a string.

In [118]:
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

print(char_set)

{'e', 'h', 'l', 'o'}

## 34. Convert a set of strings to a set of integers.

In [120]:
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '456', '123'}
Converted Integer Set: {456, 123, 789}

## 35. Convert a set of integers to a set of strings.

In [121]:
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '4', '5', '3', '1'}

## 36. Create a set from a tuple.

In [122]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)

{1, 2, 3, 4, 5}

## 37. Convert a set to a tuple.

In [123]:
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

## 38. Find the maximum value in a set.

In [124]:
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

print("Maximum value:", max_value)

Maximum value: 22

## 39. Find the minimum value in a set.

In [125]:
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

## 40. Create a set from user input.

In [126]:
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> done
Final set: set()

## 41. Check if the intersection of two sets is empty.

In [127]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

## 42. Create a set of the first 5 Fibonacci numbers.

In [128]:
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

## 43. Remove duplicates from a list using sets.

In [129]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

## 44. Check if two sets have the same elements, regardless of their count.

In [130]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

## 45. Create a set of the first `n` powers of 2

In [131]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

## 46. Find the common elements between a set and a list.

In [132]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

### 47. Create a set of the first `n` triangular numbers.:

Triangular numbers are a sequence of numbers that represent the number of dots in a triangular arrangement. The sequence starts with 1 and then each subsequent number is obtained by adding the next natural number.

Mathematically, the $n^{th}$ triangular number, denoted as $T_n$, is given by the formula:

$T_n$ $=$ $1+2+3+...+n=\frac {n*(n + 1)}{2}$

Visually, you can imagine triangular numbers by arranging dots in the shape of equilateral triangles:

```
   1       1 dot
   1 1      3 dots
   1 2 1     6 dots
   1 2 3 1   10 dots
```

In [133]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 2
The set of the first 2 triangular numbers is: {1, 3}

## 48. Check if a set contains another set as a subset.

In [134]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

## 49. Create a set of alternating 1s and 0s of length `n`.

In [136]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

print(result)

{0, 1}

## 50. Merge multiple sets into one.

In [137]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}